In [46]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_excel('exercise-5.xlsx', engine='openpyxl')
df = df.set_index('用户名')
df

       A  B  C  D    E
用户名
Alice  5  3  4  4  NaN
user1  3  1  2  3  3.0
user2  4  3  4  3  5.0
user3  3  3  1  5  4.0
user4  1  5  5  2  1.0

In [38]:
similarity = df.T.corr()
similarity

用户名       Alice     user1     user2     user3     user4
用户名
Alice  1.000000  0.852803  0.707107  0.000000 -0.792118
user1  0.852803  1.000000  0.467707  0.489956 -0.900149
user2  0.707107  0.467707  1.000000 -0.161165 -0.466569
user3  0.000000  0.489956 -0.161165  1.000000 -0.641503
user4 -0.792118 -0.900149 -0.466569 -0.641503  1.000000

In [69]:
def find_most_similar_users(similarity_matrix, target_user, k):
    return similarity_matrix[target_user].nlargest(k+1).iloc[1:].index.tolist()

def predict_rating(df, similarity_matrix, target_user, target_item, k):
    most_similar_users = find_most_similar_users(similarity_matrix, target_user, k)
    similar_users_ratings = df.loc[most_similar_users, target_item]
    target_user_similarity = similarity_matrix.loc[target_user, most_similar_users]
    row_means = df.mean(axis=1)
    predicted_rating = row_means[target_user] + np.dot(similar_users_ratings- row_means[most_similar_users], target_user_similarity ) / target_user_similarity.abs().sum()
    return predicted_rating

In [70]:
predict_rating(df= df, similarity_matrix=similarity, target_user='Alice', target_item='E', k = 2)

4.871979899370592